body {
    background-color: #366141;
}

kbd {
    border: 2px solid gray;
    width: 50px;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}



.container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    max-width: 362px;
    text-align: center;
    margin: 250px auto 1px;

}